@import helper._;

@main("user detail") {

    <div class="pure-g">
        <button id="tab">画面共有</button>
            <!-- Video area -->
        <div class="pure-u-2-3" id="video-container">
            <video id="their-video" autoplay></video>
            <video id="my-video" muted="true" autoplay height="200px" width="auto"></video>
        </div>
        <form id="make-call" class="pure-form">
            <input type="text" placeholder="Call user id..." id="callto-id">
            <button href="#" class="pure-button pure-button-success" type="submit">Call</button>
            @CSRF.formField
        </form>
        <form id="end-call" class="pure-form">
            <button href="#" class="pure-button pure-button-success" type="submit">End Call</button>
            @CSRF.formField
        </form>
        <button id="startchat">chat start</button>
        <input type="text" data-name="message" size="100" />
        <div data-name="chat"></div>
        @javascriptRouter("jsRoutes")(
            routes.javascript.ChatController.peerIdSend,
        )
    </div>

    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="https://cdn.webrtc.ecl.ntt.com/screenshare-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="@routes.Assets.at("js/webrtc.js")"></script>
}