@import helper._;

@main("user detail") {

    <div class="pure-g">
            <!-- Video area -->
        @*<div class="pure-u-2-3" id="video-container">*@
        @*<video id="their-video" autoplay></video>*@
        @*<video id="my-video" muted="true" autoplay height="100px" width="auto"></video>*@
        @*</div>*@
        <form id="make-call" class="pure-form">
            <input type="text" placeholder="Call user id..." id="callto-id">
            <button href="#" class="pure-button pure-button-success" type="submit">Call</button>
            @CSRF.formField
        </form>
        <form id="end-call" class="pure-form">
            <button href="#" class="pure-button pure-button-success" type="submit">End Call</button>
            @CSRF.formField
        </form>
        <input type="text" data-name="message" size="100" />
        <hr />
        <div data-name="chat"></div>
        @javascriptRouter("jsRoutes")(
            routes.javascript.ChatController.peerIdSend,
            routes.javascript.WebSocketController.socket
        )
    </div>

}