@import helper._
@(roomId: Long)
@main("user detail") {

    <div class="pure-g">
        <button id="tab">画面共有</button>
        <a href="@routes.ReviewController.reviewRoute(roomId)">レビュー</a>

            <!-- Video area -->
        <div class="pure-u-2-3" id="video-container">
            <video id="their-video" autoplay></video>
            <video id="my-video" muted="true" autoplay height="200px" width="auto"></video>
        </div>
        <form id="make-call" class="pure-form">
            <input type="hidden" placeholder="Call user id..." id="callto-id">
            <button href="#" class="pure-button pure-button-success" type="submit">Call</button>
            @CSRF.formField
        </form>
        <form id="end-call" class="pure-form">
            <button href="#" class="pure-button pure-button-success" type="submit">End Call</button>
            @CSRF.formField
        </form>
        <form action="/chat/fileupload" method="post" enctype="multipart/form-data" id="fileupload">
            @CSRF.formField
            <input type="file" name="picture">
            <p>
                <input type="submit">
            </p>
        </form>
        <input type="text" data-name="message" size="100" />
        <div data-name="chat"></div>
    </div>
    <input type="hidden" value="@roomId" name="roomId" id="roomId">
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.ChatController.peerIdSend,
        routes.javascript.ChatController.peerIdGet
    )
}

<script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script src="https://cdn.webrtc.ecl.ntt.com/screenshare-latest.js"></script>
<script src="@routes.Assets.at("js/webrtc.js")"></script>
