@(lists: java.util.List[Ticket])

@main("トップ") {
    @if(flash.containsKey("signup")) {
        <div class="flash">@flash.get("signup")</div>
    }
    @if(flash.containsKey("created")) {
        <div class="flash">@flash.get("created")</div>
    }
    @if(flash.containsKey("updated")) {
        <div class="flash">@flash.get("updated")</div>
    }
    @if(flash.containsKey("deleted")) {
        <div class="flash">@flash.get("deleted")</div>
    }
    @if(flash.containsKey("signin")) {
        <div class="flash">@flash.get("signin")</div>
    }
    @if(flash.containsKey("result")) {
        <div class="flash">@flash.get("result")</div>
    }
    @if(flash.containsKey("notFound")) {
        <div class="flash">@flash.get("notFound")</div>
    }
    @if(flash.containsKey("badRequest")) {
        <div class="flash">@flash.get("badRequest")</div>
    }
    @if(flash.containsKey("appointed")) {
        <div class="flash">@flash.get("appointed")</div>
    }

    <div class="container">
        <div class="container__sidebar" id="sidebar">
           <nav class="container__sidebar__nav">
               <ul class="container__sidebar__nav__category">
                   <li class="container__sidebar__nav__category__list" id="c"><p>C</p></li>
                   <li class="container__sidebar__nav__category__list" id="cPlusPlus"><p>C++</p></li>
                   <li class="container__sidebar__nav__category__list" id="cSharp"><p>C#</p></li>
                   <li class="container__sidebar__nav__category__list" id="java"><p>Java</p></li>
                   <li class="container__sidebar__nav__category__list" id="javaScript"><p>JavaScript</p></li>
                   <li class="container__sidebar__nav__category__list" id="php"><p>PHP</p></li>
                   <li class="container__sidebar__nav__category__list" id="ruby"><p>Ruby</p></li>
                   <li class="container__sidebar__nav__category__list" id="python"><p>Python</p></li>
                   <li class="container__sidebar__nav__category__list" id="perl"><p>Perl</p></li>
                   <li class="container__sidebar__nav__category__list" id="r"><p>R</p></li>
                   <li class="container__sidebar__nav__category__list" id="go"><p>Go</p></li>
                   <li class="container__sidebar__nav__category__list" id="scala"><p>Scala</p></li>
                   <li class="container__sidebar__nav__category__list" id="objectiveC"><p>Objective-C</p></li>
                   <li class="container__sidebar__nav__category__list" id="swift"><p>Swift</p></li>
                   <li class="container__sidebar__nav__category__list" id="kotlin"><p>Kotlin</p></li>
                   <li class="container__sidebar__nav__category__list" id="scratch"><p>Scratch</p></li>
                   <li class="container__sidebar__nav__category__list" id="blockly"><p>Blockly</p></li>
                   <li class="container__sidebar__nav__category__list" id="sqlLang"><p>SQL</p></li>
               </ul>
           </nav>
        </div>

        <div class="container__content">
            <ul class="container__content__ticket-list" id="ticket-list">
                @for(l <- lists) {
                <li class="container__content__ticket" id="@l.getTicketId">
                    <a href="@routes.TicketController.single(l.getTicketId.toLong)">
                        <div class="container__content__ticket-thumbnail-area">
                            <img class="container__content__ticket-thumbnail" src="">
                        </div>
                        <div class="container__content__ticket-top">
                            <div class="container__content__ticket-left">
                                <p class="container__content__ticket-avatar-img" style="background-image: url('@l.user.thumbnailPath')">
                                <p class="container__content__ticket-nick-name">@l.user.nickName</p>
                            </div>
                            <div class="container__content__ticket-right">
                                <div class="container__content__ticket-price">¥@l.price</div>
                            </div>
                        </div>
                        <div class="container__content__ticket-middle">
                            <h3 class="container__content__ticket-title">@l.getTitle</h3>
                            <p class="container__content__ticket-date">
                                @l.getDate @l.getStartAt~@l.getEndAt
                            </p>
                        </div>
                        <div class="container__content__ticket-bottom">
                            <ul class="container__content__ticket-label-list">
                                @if(l.getTicketLabel.c == true) {<li class="container__content__ticket-label">C</li>}
                                @if(l.getTicketLabel.cPlusPlus == true) {<li class="container__content__ticket-label">C++</li>}
                                @if(l.getTicketLabel.cSharp == true) {<li class="container__content__ticket-label">C#</li>}
                                @if(l.getTicketLabel.java == true) {<li class="container__content__ticket-label">Java</li>}
                                @if(l.getTicketLabel.javaScript == true) {<li class="container__content__ticket-label">JavaScript</li>}
                                @if(l.getTicketLabel.php == true) {<li class="container__content__ticket-label">PHP</li>}
                                @if(l.getTicketLabel.ruby == true) {<li class="container__content__ticket-label">Ruby</li>}
                                @if(l.getTicketLabel.python == true) {<li class="container__content__ticket-label">Python</li>}
                                @if(l.getTicketLabel.perl == true) {<li class="container__content__ticket-label">Perl</li>}
                                @if(l.getTicketLabel.r == true) {<li class="container__content__ticket-label">R</li>}
                                @if(l.getTicketLabel.go == true) {<li class="container__content__ticket-label">Go</li>}
                                @if(l.getTicketLabel.scala == true) {<li class="container__content__ticket-label">Scala</li>}
                                @if(l.getTicketLabel.objectiveC == true) {<li class="container__content__ticket-label">Objective-C</li>}
                                @if(l.getTicketLabel.swift == true) {<li class="container__content__ticket-label">Swift</li>}
                                @if(l.getTicketLabel.kotlin == true) {<li class="container__content__ticket-label">Kotlin</li>}
                                @if(l.getTicketLabel.scratch == true) {<li class="container__content__ticket-label">Scratch</li>}
                                @if(l.getTicketLabel.blockly == true) {<li class="container__content__ticket-label">Blockly</li>}
                                @if(l.getTicketLabel.sqlLang == true) {<li class="container__content__ticket-label">SQL</li>}
                            </ul>
                        </div>
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
}

<script src="@routes.Assets.at("js/top.js")"></script>