@import "mixins", "var";

.header {
  width: 100%;
  height: 80px;
  background-color: $baseBlack;
  position: relative;
  z-index: 1;
  @include mq(tablet) {
    height: 60px;
  }
  &__inner {
    width: 1280px;
    margin: 0 auto;
    padding: 15px 10px;
    @include mq(container) {
      width: 95%;
    }
    @include mq(tablet) {
      width: 100%;
      padding: 10px 0;
    }
    &__logo {
      float: left;
      margin-top: 10px;
      margin-left: 20px;
      width: 172px;
      height: auto;
      @include mq(tablet) {
        margin-top: 10px;
        width: 120px;
      }
      @include mq(sp) {
        width: 100px;
      }
      img {
        width: 100%;
      }
    }
  }
  &__global-menu {
    position: relative;
    float: right;
    display: block;
    &__search {
      display: inline-block;
      vertical-align: middle;
      margin-right: 35px;
      @include mq(container) {
        margin-right: 20px;
      }
    }
    &__search-input {
      position: relative;
    }
    &__search-input-area {
      width: 240px;
      height: 50px;
      background-color: #eeeeee;
      outline: none;
      position: relative;
      padding: 0 10px;
      color: #313131;
      @include mq(container) {
        width: 200px;
      }
    }
    &__search-input-img {
      display: block;
      position: absolute;
      right: 10px;
      bottom: 17px;
      width: 16px;
      height: 16px;
      background-size: contain;
    }
    &__avatar {
      display: inline-block;
      vertical-align: middle;
      margin-right: 35px;
      @include mq(container) {
        margin-right: 20px;
      }
    }
    &__avatar-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: 50%;
      background-size: contain;
      border: 3px solid $baseWhite;
      cursor: pointer;
    }
    &__sub-menu {
      position: absolute;
      display: none;
      top: 65px;
      right: 37.5%;
      width: 150px;
      z-index: 10;
    }
    &__sub-menu-list {
      display: block;
      background-color: #eeeeee;
      transition: .3s ease-in background-color;
      &:hover {
        background-color: #313131;
      }
    }
    &__sub-menu-list a {
      display: block;
      padding: 10px;
      font-size: 1.2em;
      color: #313131;
      transition: .3s ease-in color;
      &:hover {
        color: #eeeeee;
      }
    }
    &__li {
      display: inline-block;
      vertical-align: middle;
    }
    &__li-btn {
      display: block;
      position: relative;
      width: 240px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 1.8em;
      color: $baseWhite;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
      $btn-width: 240px;
      @include mq(container) {
        width: 200px;
        $btn-width: 200px;
      }
      @include mq(sp) {
        width: 150px;
        $btn-width: 150px;
      }

      span {
        position: absolute;
        @include size(0);
        display: block;
        border-radius: 50%;
        background-color: $logoRed;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      &:hover {
        span {
          @include size(225%, $btn-width*2.25);
        }
      }
    }
    &__ticket-create-btn {
      background-color: #39c0d4;
    }
    &__signup-btn {
      background-color: #2cd43f;
    }
    &__login-btn {
      background-color: #39c0d4;
    }
    &__pc {
      @include mq(tablet) {
        display: none;
      }
    }
    &__tablet {
      display: none;
      margin-top: 50px;
      &__li {
        display: block;
        background-color: #eeeeee;
        transition: .3s ease-in background-color;
        border-bottom: 1px solid #313131;
        &:hover {
          background-color: #313131;
        }
      }
      &__li-btn {
        display: block;
        padding: 10px;
        font-size: 1.4em;
        color: #313131;
        text-align: center;
        transition: .3s ease-in color;
        &:hover {
          color: #eeeeee;
        }
      }
    }
  }
  &__nav-toggle {
    display: none;
    position: absolute;
    right: 20px;
    top: 17px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
    @include mq(tablet) {
      display: block;
    }
    div {
      position: relative;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        transition: .35s ease-in-out;
        &:nth-child(1) {
          top: 0;
          background-color: $logoRed;
        }
        &:nth-child(2) {
          top: 11px;
          background-color: $logoBlue;
        }
        &:nth-child(3) {
          top: 22px;
          background-color: $logoRed;
        }
      }
    }
  }
  &__nav-toggle-open {
    div {
      span {
        &:nth-child(1) {
          top: 11px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          width: 0;
          left: 50%;
        }
        &:nth-child(3) {
          top: 11px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
}