@charset "utf-8";
@import "./_mixins.scss";

.top-container {
  height: auto;
  min-height: 720px;
  @include mq(tablet) {
    min-height: auto;
  }
  &__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: auto;
    @include mq(tablet) {
      // test
      display: none;
      position: static;
      width: 100%;
    }
    &__nav {
      &__category {
        &__list {
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
          background-color: #313131;
          border-bottom: 1px solid #eeeeee;
          transition: .3s ease-in background-color;
          cursor: pointer;
          &:hover {
            background-color: #39c0d4;
          }
          & p {
            font-size: 1.8em;
            color: #ffffff;
          }
        }
      }
    }
  }
  .fixed {
    position: fixed;  
  }
  
  &__content {
    padding-left: 17%;
    width: 100%;
    @include mq(container) {
      padding-left: 18%;
    }
    @include mq(tablet) {
      padding-left: 0;
    }
    &__ticket-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      padding-top: 40px;
      width: 100%;
    }
    &__ticket {
      width: 30%;
      margin-bottom: 3.3333333%;
      margin-left: 3.3333333%;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 10px 10px #d1513e;
      transition: .3s ease-in all;
      &:hover {
        background-color: #d1513e;
        box-shadow: 10px 10px #ffffff;
      }
      @include mq(container) {
        width: 46.666666%;
      }
      @include mq(tablet) {
        margin-left: 6.6666666%;
        margin-bottom: 6.6666666%;
        &:nth-child(odd) {
          margin-left: 0;
        }
      }
      @include mq(sp) {
        margin-left: 0;
        width: 100%;
        box-shadow: 0 10px #d1513e;
      }
      & a {
        display: block;
      }
    }
    &__ticket-thumbnail-area {
      width: 100%;
      // TODO サムネ投稿機能ができてからautoに変える
      //height: auto;
      height: 145px;
      max-height: 195px;
      background-color: #39c0d4;
    }
    &__ticket-thumbnail {
      width: 100%;
      height: auto;
    }
    &__ticket-top {
      margin-top: 12px;
      overflow: hidden;
    }
    &__ticket-top-left {
      float: left;
      width: 70%;
      @include mq(tablet) {
        float: none;
        width: 100%;
      }
    }
    &__ticket-avatar-img {
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-position: 50%;
      background-size: contain;
      cursor: pointer;
    }
    &__ticket-nick-name {
      display: inline-block;
      margin-left: 8px;
      font-size: 1.4em;
      color: #313131;
    }
    &__ticket-top-right {
      float: right;
      width: 30%;
      @include mq(tablet) {
        float: none;
        margin-top: 10px;
        width: 100%;
      }
    }
    &__ticket-price {
      display: inline-block;
      float: right;
      padding: 8px;
      font-size: 1.4em;
      color: #ffffff;
      text-align: center;
      background-color: #104f9f;
      @include mq(tablet) {
        float: none;
      }
    }
    &__ticket-middle {
      margin-top: 10px;
    }
    &__ticket-title {
      font-size: 1.6em;
      font-weight: bold;
      color: #313131;
    }
    &__ticket-date {
      margin-top: 10px;
      font-size: 1.4em;
      color: #313131;
    }
    &__ticket-label {
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
      padding: 6px;
      font-size: 1.2em;
      color: #ffffff;
      background-color: #00561f;
    }
  }
}