@import helper._

@(user: play.data.Form[models.User], myTickets: java.util.List[Ticket], purchasedTickets: java.util.List[PurchasedTicket])

    @main("user detail") {
        @if(flash().containsKey("result")) {
            <p>@flash.get("result")</p>
        }

        @form(action = routes.AccountController.UserUpdate()) {

            @inputText(user("userName"), 'label -> "", 'id -> "name", 'size -> 20)
            @inputText(user("nickName"))
            @inputText(user("password"))
            @inputText(user("email"))
            @inputText(user("cardNo"))
            @inputText(user("cardMaxAgeMonth"))
            @inputText(user("cardMaxAgeYear"))
            @inputText(user("cardName"))
            @inputText(user("cardCVC"))
            @inputFile(field = user("thumbnailPath"), args = 'size -> 10)
            @CSRF.formField
            <input type="submit"/>

        }

        <h2>自分がオーナーのチケット一覧</h2>
        <ul>
            @for(t <- myTickets) {
            <li id="@t.getTicketId">
                <p><a href="@routes.TicketController.edit(t.getTicketId.toLong)">編集する</a></p>
                <a href="@routes.TicketController.single(t.getTicketId.toLong)">
                    <img src="@t.getUser.getThumbnailPath">
                    <h3>@t.getTitle</h3>
                    <p>@t.getBody</p>
                    <p>@t.getDate</p>
                    <p>@t.getPrice 円</p>
                </a>
            </li>
            }
        </ul>

        <h2>成立したチケット一覧</h2>
        <ul>
            @for(p <- purchasedTickets) {
            <li id="@p.getPurchasedTicketId">
                <a href="@routes.PurchasedTicketController.index(p.getPurchasedTicketId.toLong)">
                    <p>@p.ticket.title</p>
                </a>
            </li>
            }
        </ul>

    }