@(form: play.data.Form[models.User])

@main("ログイン") {
    @if(flash.containsKey("error")) {
        <div class="flash">@flash.get("error")</div>
    }
    <div class="login-form basic-form">
        @helper.form(action = routes.LoginController.login, 'class -> "login-form__form basic-form__form") {
            @helper.CSRF.formField
            @helper.inputText(
                form("userName"),
                '_label -> "ユーザーID",
                '_class -> "basic-form__input-text"
            )
            @helper.inputText(
                form("password"),
                '_label -> "パスワード",
                '_class -> "basic-form__input-text"
            )
            <button type="submit" class="login-form__submit basic-form__submit btn-effect">ログイン<span></span></button>
        }
    </div>
}