@(
        form: play.data.Form[_],
        name: String,
        label: String,
        required: Boolean = false,
        disabled: Boolean = false,
        htmlArgs: scala.collection.immutable.Map[Symbol, Any] = scala.collection.immutable.Map.empty
)

<div class="form-group @if(form(name).hasErrors) {has-error}">
    <dl class="basic-form__input-time">
        <dt><label>@label @if(required == true) {<strong>*</strong>}</label></dt>
        <dd>
            <input type="time" name="@name" class="form-control time" value="@form(name).getValue.orElse(null)" @if(required == true) {required} @if(disabled == true) {disabled}  @toHtmlArgs(htmlArgs)>
            @for(error <- form(name).errors) {
                <p class="help-block">@Messages(error.messages, error.arguments.toArray: _*)</p>
            }
        </dd>
    </dl>
</div>