@import org.pac4j.core.util.CommonHelper
@import org.pac4j.core.context.Pac4jConstants

<header class="header">
    <div class="header__inner">
        <h1><a href="/">LEARN PROGRAMMING</a></h1>
        <nav class="global-menu">
            <div class="global-menu__search">
                SEARCH
            </div>
            <div class="global-menu__avatar">
                AVATAR
            </div>
            <div class="global-menu__ticket-create">
                <a href="" class="global-menu__ticket-create-btn">チケットの作成</a>
            </div>
            @if(CommonHelper.isBlank(session().get("userID"))) {
                <div class="global-menu__signup">
                    <a href="@routes.SignUpController.index()" class="global-menu__signup-btn">新規会員登録</a>
                </div>
                <div class="global-menu__login">
                    <a href="@routes.LoginController.loginForm()" class="global-menu__login-btn">ログイン</a>
                </div>
            } else {
                <div class="global-menu__logout">
                    <a href="@routes.LogoutController.logout()" class="global-menu__logout-btn">ログアウト</a>
                </div>
                <div class="global-menu__signout">
                    <a href="@routes.SignOutController.index()" class="global-menu__signout-btn">退会する</a>
                </div>
            }
        </nav>
    </div>
</header>