@(ticket: Ticket, purchasedTickets: PurchasedTicket)

@main("PurchasedTicket Page") {
    <p>@ticket.date</p>
    <p>@ticket.startAt</p>
    <p>@ticket.endAt</p>
    <input type="hidden" value="@purchasedTickets.getPurchasedTicketId" name="purchasedTicketId" id="purchasedTicketId">
    <input type="text" data-name="message" size="100" />
    <div data-name="chat">
        @* @for(m <- purchasedTickets.message) {*@
        @*<p>@m.getMessageText</p>*@
        @*}*@
    </div>
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.PurchasedTicketController.sendMessage,
        routes.javascript.PurchasedTicketController.getMessage
    )
}

    <script src="@routes.Assets.at("js/message.js")"></script>